/Dataset/LC 5 sec clips 30fps
/Dataset/labels
/Dataset
Common Code/ViT.pt
Filippo/MedSAM/
Filippo/sam2/
Common Code/ViT2.pt
/Filippo/Full Dataset
Filippo/Full Dataset_kaggle.zip
Filippo/Test/teacher_cycle_0.pt
Filippo/Test/student_cycle_8.pt
Filippo/Test/student_cycle_10.pt
*.pt
/Filippo/Test/Nuova cartella (2)
/Filippo/Test/step_1_seg_train
*.zip
/Filippo/Test/medSAM2_dataset
/Filippo/Test/runs_compl_dataset
/Filippo/Test/runs_sampled_dataset
